/* .navbar-nav {
    margin-left: 900px;
} */

.card {
    margin-top : 10px;
    padding-bottom: 10px;
}
.information {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#image {
    height: 50px;
    width: 150px;
}

#header {
    text-align: center;
}

.poiImages {
width: 300px;
height: 175px;
object-fit: contain;
padding-left: 10px;
}

.poiCard {
    margin-top: 5px;
}

#searchCon {
    margin-bottom: 25px;
}


#address {
    color:black;
}
#submitButton1{
    margin-top: 30px;
}

.reviewerText, .timeStamp {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
}

.reviewerName {
    font-style: italic; 
    font-family: 'Courgette', cursive;
    /* font-family: 'Dancing Script', cursive;
    font-size: 1.5em; */
}
.flightSegment{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

#poiSubmit {
    margin-top: 30px;
}

#loadingImage {
    margin-left: 520px;
    height: 50px;
    width: 50px;
}
.displaydatediff0{
    visibility: hidden
}