body { 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: rgba(255,255,255,.5);
}

#flightSearchInput { 
position: sticky;
position: -webkit-sticky;
top: 0;
z-index: 10000;
}

#searchCon { 
position: sticky;
position: -webkit-sticky;
top: 0;
z-index: 10000;
}

.form-check {
    padding-top: 30px;
}
.card {
    padding-bottom: 10px;
}
.information {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#image {
    height: 35px;
    width: 35px;
}

#header {
    text-align: center;
}

#loading {
    padding-top: 7px;
}

.poiImages {
width: 300px;
height: 175px;
object-fit: contain;
padding-left: 10px;
}

.poiCard {
    margin-top: 14px;
    transition: transform 0.3s ease, margin 0.3s ease;
}

.poiCard:hover {
    transform: scale(1.10);
    cursor: pointer;
}

#searchCon {
    margin-bottom: 25px;
}

.offer-group {
    transition: transform 0.3s ease, margin 0.3s ease;
    background-color: whitesmoke
}

.offer-group:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#address {
    color:black;
}
#submitButton1{
    margin-top: 30px;
}

.reviewerText, .timeStamp {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
}

.reviewerName {
    font-style: italic; 
    font-family: 'Courgette', cursive;
    /* font-family: 'Dancing Script', cursive;
    font-size: 1.5em; */
}
.flightSegment{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

#poiSubmit {
    margin-top: 30px;
}

#loadingImage {
    margin-left: 520px;
    height: 50px;
    width: 50px;
}
.displaydatediff0{
    visibility: hidden
}

.svg-calLoader {
    width: 230px;
  
    height: 230px;
  
    transform-origin: 115px 115px;
  
    animation: 1.4s linear infinite loader-spin;
  }
  
  .cal-loader__plane {
    fill: #ffa500;
  }
  
  .cal-loader__path {
    stroke: black;
  
    animation: 1.4s ease-in-out infinite loader-path;
  }
  
  @keyframes loader-spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-path {
    0% {
      stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
  
    50% {
      stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
    }
  
    100% {
      stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
  }

  .ourHeader {
    background-color: transparent;
  }