.navbar-nav {
    margin-left: 900px;
}

.card {
    margin-top : 50px;
}
#submitButton1 {
    margin-left: 105px;
}

#image {
    height: 50px;
    width: 150px;
}

#cardHeader {
    text-align: center;
}
