.navbar-nav {
    margin-left: 900px;
}

.card {
    margin-top : 10px;
    padding-bottom: 10px;
}
.information {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#image {
    height: 50px;
    width: 150px;
}

#header {
    text-align: center;
}

.poiImages {
width: 250px;
height: 175px;
object-fit: contain;
padding-left: 10px;
}

.poiCard {
    margin-top: 5px;
}

#searchCon {
    margin-bottom: 25px;
}


#address {
    color:black;
}
#submitButton1{
    margin-top: 30px;
}

.flightSegment{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}